.auth {

  min-height: 100%;
  flex: 1;
  margin: 0px;


  .left-panel, .right-panel {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding: 0px 60px;

    .full-sticky {
      position:fixed;
      top: 0px;
      height: 100vh;
      display: flex;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
    }

    .content {
      flex:1;
      padding: 20px 0px;
      min-width: 280px;

      .lastar-logo {
        width: 150px;
        display: block;
      }
    }
  }
  .right-panel {
    .lang {
      position: absolute;
      top: 20px;
    }
  }
  .left-panel {

  }

  // Inputs
  .gender-input .el-radio-group{
    display: block;

    .el-radio-button{
      width: 50%;

      .el-radio-button__inner {
        width: 100%;
      }
    }
  }

  // Transitions
  $animation-duration: 0.3s;

  .fadeInUpBig {
    @include fadeInUpBig(
            $duration: $animation-duration,
            $delay: $animation-duration,
            $function: 'ease'
    );
  }
  .fadeOutDownBig {
    @include fadeOutDownBig(
    $duration: $animation-duration
    );
  }
  .fadeOutUpBig {
    @include fadeOutUpBig(
            $duration: $animation-duration
    );
  }
  .fadeInDownBig {
    @include fadeInDownBig(
            $duration: $animation-duration,
            $delay: $animation-duration,
            $function: 'ease'
    );
  }
}