.auth {

  min-height: 100%;
  flex: 1;
  margin: 0px;
  width: 100%;

  // Flag
  .flag-icon {
    border-radius: 18px;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-position: center center;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }


  .left-panel, .right-panel {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding: 0px 60px;

    .full-sticky {
      position:fixed;
      top: 0px;
      height: 100vh;
      display: flex;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
    }

    .content {
      flex:1;
      padding: 20px 0px;
      min-width: 280px;

      .logo {
        width: 330px;
        display: block;

        @include media-breakpoint-down(sm) {
          width: 200px;
        }

        &.logo-sm {
          width: 180px !important;
        }
      }
    }
  }
  .right-panel {
    .lang {
      position: absolute;
      top: 20px;
      right: 60px;
    }
    .profile-picture{
      box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
      width: 80px;
      display: block;
    }
  }
  .left-panel {
    background-position: center center;
    background-size: cover;
    background-color: #4A4A4A;
    background-blend-mode: multiply;
    background-image: url('/img/bg/auth.jpg');

    h2.auth-ticket-sub-title {
      font-size: 1.5em;
    }

    &.fb-register {
      background-color: $color-facebook;
      background-image: none;

      .fb-title {
        font-weight: 600;
      }

      .text-fb {
        b {
          font-weight: 700;
        }
      }

      .help-link:hover {
        text-decoration: underline;
      }
    }


  }

  // Inputs
  .gender-input .el-radio-group{
    display: block;

    .el-radio-button{
      width: 50%;

      .el-radio-button__inner {
        width: 100%;
      }
    }
  }

  #birthdate {
    .el-input__prefix {
      display: none;
    }

    .el-input__inner {
      padding: 0.5rem 0.75rem;
      @include placeholder {
        color: $color-placeholder !important;
      }
    }
  }

  // Transitions
  $animation-duration: 0.3s;

  .fadeInUpBig {
    @include fadeInUpBig(
            $duration: $animation-duration,
            $delay: $animation-duration,
            $function: 'ease'
    );
  }
  .fadeOutDownBig {
    @include fadeOutDownBig(
    $duration: $animation-duration
    );
  }
  .fadeOutUpBig {
    @include fadeOutUpBig(
            $duration: $animation-duration
    );
  }
  .fadeInDownBig {
    @include fadeInDownBig(
            $duration: $animation-duration,
            $delay: $animation-duration,
            $function: 'ease'
    );
  }

}

.birthdate {
  // Display year for date picker
  .el-date-picker__header
  {
    .el-icon-d-arrow-right, .el-icon-d-arrow-left {
      display: block !important;
    }
  }
}

.a {
  font-weight: bold;
}

.btn-facebook-login {
  margin-top: 40px;
}

