
#profile-home {
  padding: 20px 0px;

  .profile-picture {
    width: 100%;
    max-width: 150px;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .card-stats {
    margin-top: 20px;
  }

  [v-cloak] {
    display: none;
  }

  .lastar-icon {
    width: 120px;
  }

  .text-full-name {
    font-weight: 600;
  }

}