$animation-duration: 0.5s;

// Ticket Component
.flip-container {
  perspective: 1000px;


  .flipper{
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    &.flipped {
      transform: rotateY(180deg);
    }
  }
}


.card-ticket {
  border-radius: 10px;
  margin-bottom: 1.5rem;

  backface-visibility: hidden;

  &.fixed-width {
    width: 250px;
  }

  &.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  &.back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .card-travel-info {
      padding: 10px;
    }

    .edit-title {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      color: white;
    }
  }

  &.past-ticket {
    filter: #{"grayscale(50%)"};
  }

  .card-travel-info {
    @extend .blue-gradient;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 20px;

    .day {
      width: 60px;
      height: 60px;
      margin: auto;
      background-color: white;
      border-radius: 100%;
      margin-top: 30px;
      text-align: center;

      span {
        color: $color-purple;
        font-size: 38px;
        font-weight: 400;
      }
    }

    .month {
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-size: 20px;
      font-weight: 400;
      margin-top: 10px;
    }

    .cities {
      text-align:center;
      margin: 0px;
      margin-top: 10px;

      .departure, .arrival {
        color: white;
        padding: 0px 10px;
        .city {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 400;
        }
      }

      .arrow {
        padding-top: 30px;
        color: $color-pink;
        padding: 0px;
      }

      .departure, .arrival, .arrow {
        margin: 0px;
      }

      .time {
        color: $color-purple;
        font-weight: 400;
      }
    }

  }

  .card-seller-info {
    padding: 20px;
    position: relative;

    .price {
      width: 100%;
      color: $color-purple;
      text-align: center;
      font-size: 25px;
      font-weight: 400;
    }

    .seller {
      width: 100%;
      text-align: center;
      color: $color-pink;
      font-size: 14px;
      b {
        font-weight: 600;
      }
    }

    .btn-buy {
      padding: 2px 20px;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -15px;
    }

    &.card-buying {
      p {
        margin-bottom: 5px;
      }
    }
  }
}

// Page component

#sell-ticket, #owned-tickets, #buy-ticket {
  padding: 20px 0px;

  .card {
    .card-header {
      @extend .purple-gradient;
      color: white;
      text-transform: uppercase;
    }

    .card-body {
      padding: 30px;
    }
  }

  .invalid-feedback {
    display: inherit;
  }

  [v-cloak] {
    display: none;
  }

}

// Sell component

#sell-ticket {
  .bg-ticket-sell {
    background-image: url('/img/tickets.sell.png');
    background-size: cover;
    background-position: center center;
    border-radius: 0px $card-border-radius $card-border-radius 0px;
  }

  // Transitions
  $animation-duration: 0.5s;

  .fadeInUpBig {
    @include fadeInUpBig(
            $duration: $animation-duration,
            $function: 'ease'
    );
  }

  .fadeIn {
    @include fadeIn(
            $duration: $animation-duration,
            $delay: $animation-duration,
            $function: 'ease'
    );
  }
  .fadeOut {
    @include fadeOut(
            $duration: $animation-duration,
            $function: 'ease'
    );
  }

}

// Buy component

#buy-ticket {

  // Stations picker
  .departure {
    .el-input__inner{
      border-radius: 4px 4px 0px 0px;
    }
  }
  .arrival {
    .el-input__inner{
      border-top: 0px;
      border-radius: 0px 0px 4px 4px;
      border-top-width: 0px !important;
    }
  }

  // Transitions

  .fadeInUpBig {
    @include fadeInUpBig(
            $duration: $animation-duration,
            $delay: $animation-duration,
            $function: 'ease'
    );
  }

  .fadeIn {
    @include fadeIn(
            $duration: $animation-duration,
            $delay: $animation-duration,
            $function: 'ease'
    );
  }

  .fadeOut {
    @include fadeOut(
            $duration: $animation-duration,
            $function: 'ease'
    );
  }

}
