$animation-duration: 0.5s;

// Ticket Component
.flip-container {
  perspective: 1000px;


  .flipper{
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    &.flipped {
      transform: rotateY(180deg);
    }
  }
}

.ticket-container {
  .ticket-modal-share {
    .modal-title {
      text-align: center;
      color: $color-orange;
      text-transform: uppercase;
      font-weight: 600;
    }

    .fb_iframe_widget {
      display: block;
      text-align: center;
      margin: auto;
    }
  }
}


.card-ticket {
  border-radius: 10px;
  margin-bottom: 1.5rem;

  backface-visibility: hidden;

  &.max-sized {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  &.fixed-width {
    width: 250px;
  }

  &.no-border {
    border: none;
  }

  &.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);

    .card-travel-info {
      overflow: hidden;
    }
  }

  &.back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .card-travel-info {
      padding: 10px;
    }

    .card-seller-info {
      padding: 15px;
      padding-bottom: 25px;
    }

    .edit-title {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 400;
      color: white;
    }

    .train-time{
      color: $color-purple;
      font-weight: 600;
    }
  }

  &.past-ticket {
    filter: #{"grayscale(50%)"};
  }

  .card-travel-info {
    @extend .blue-gradient;
    border-radius: 9px 9px 0px 0px;
    padding-bottom: 20px;
    position: relative;

    .corner-ribbon {
      width: 250px;
      height: 70px;

      position: absolute;
      top: -10px;
      left: -100px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);

      text-align: center;
      letter-spacing: 1px;
      color: #f0f0f0;

      background: $color-purple;

      &.corner-ribbon-success {
        background: $color-green;
      }

      &.corner-ribbon-danger {
        background: $color-red;
      }

      .fa {
        margin-top: 20px;
        font-size: 1.5em;
      }

      p {
        text-transform: uppercase;
        font-size: 12px;
      }
    }

    .btn-share {
      position: absolute;
      text-transform: uppercase;
      background-color: white;
      padding: 3px 11px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 14px;
      color: $color-orange;
      top: 8px;
      left: 8px;
      border: none;
      cursor: pointer;
    }

    .day {
      width: 60px;
      height: 60px;
      margin: auto;
      background-color: white;
      border-radius: 100%;
      margin-top: 30px;
      text-align: center;

      span {
        color: $color-orange;
        font-size: 38px;
        font-weight: 700;
      }
    }

    .month {
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-size: 20px;
      font-weight: 700;
      margin-top: 10px;
    }

    .cities {
      text-align:center;
      margin: 0px;
      margin-top: 10px;

      .departure, .arrival {
        color: white;
        padding: 0px 10px;
        .city {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 400;
        }
      }

      .arrow {
        padding-top: 30px;
        color: white;
        padding: 0px;

        i {
          margin-top: 40px;
        }
      }

      .departure, .arrival, .arrow {
        margin: 0px;
      }

      .time {
        color: white;
        font-weight: 600;
      }
    }

  }

  .card-seller-info {
    padding: 20px;
    position: relative;

    .price {
      width: 100%;
      color: black;
      text-align: center;
      font-size: 25px;
      font-weight: 600;

      .old-price {
        color: $color-placeholder;
        text-decoration: line-through;
        margin-right: 20px;
      }
    }

    .seller {
      width: 100%;
      text-align: center;
      color: black;
      font-size: 14px;
      b {
        font-weight: 600;
      }
    }

    .btn-buy {
      padding: 2px 20px;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -15px;
    }

    &.card-buying {
      p {
        margin-bottom: 5px;
      }
    }

    .verif-status {
      vertical-align: top;
      font-size: 20px;
    }
  }

  &.card-ticket-small {
    height: 100px;
    min-width: 200px;
    margin: 0px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);

    .card-travel-info {
      padding: 12px;

      .content {
        display: flex;
        align-items: center;
        justify-content:center;
      }

      .station {
        padding-left: 10px;
        padding-right: 10px;

        .station-short{
          color: $color-white;
          margin: 0px;
          font-size: 21px;
          text-transform: uppercase;
        }

        .time {
          color: black;
          margin: 0px;
          margin-top: -10px;
          font-weight: 500;
        }
      }

      .date {
        margin-left: 10px;
        margin-right: 10px;
        background-color: white;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 100%;
        position: relative;

        .day {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 0px;

          margin: 0px;
          height: auto;
          width: auto;
          background-color: transparent;
          border-radius: 0px;
          font-weight: 600;

        }

        .month {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 16px;

          font-weight: 600;
          font-size: 14px;
          margin-top: 0px;
          color: $color-orange;
        }
      }
    }

    .card-seller-info {
      padding: 0px;
      .price {
        font-size: 18px;
        font-weight: 400;
      }

      .ticket-number {
        position: absolute;
        right: 2px;
        bottom: -4px;
        font-size: 12px;
      }
    }

  }
}

// Page component

#sell-ticket, #owned-tickets, #buy-ticket {
  padding: 20px 0px;

  @include media-breakpoint-down(sm) {
    margin-left: -45px;
    margin-right: -45px;
    margin-top: -20px;

    .card-header.reverse {
      text-align: center;
    }
  }

  @include media-breakpoint-up(md) {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 0px;
  }

  .card {
    .card-header {
      @extend .purple-gradient;
      color: white;
      text-transform: uppercase;

      @include media-breakpoint-down(sm) {
        background: $color-white !important;
        color: $color-purple !important;
        border-bottom: 0px;
        padding-bottom: 0px;
      }
    }

    .card-body {
      padding: 30px;
    }
  }

  .invalid-feedback {
    display: inherit;
  }

  [v-cloak] {
    display: none;
  }

}

// Sell component

#sell-ticket {
  .bg-ticket-sell {
    background-image: url('/img/tickets.sell.png');
    background-size: cover;
    background-position: center center;
    border-radius: 0px $card-border-radius $card-border-radius 0px;
  }

  // Transitions
  $animation-duration: 0.5s;

  .fadeInUpBig {
    @include fadeInUpBig(
            $duration: $animation-duration,
            $function: 'ease'
    );
  }

  .fadeIn {
    @include fadeIn(
            $duration: $animation-duration,
            $delay: $animation-duration,
            $function: 'ease'
    );
  }
  .fadeOut {
    @include fadeOut(
            $duration: $animation-duration,
            $function: 'ease'
    );
  }

}

// Buy component

#buy-ticket {

  // Stations picker
  .departure {
    .el-input__inner{
      border-radius: 4px 4px 0px 0px;
    }
  }
  .arrival {
    .el-input__inner{
      border-top: 0px;
      border-radius: 0px 0px 4px 4px;
      border-top-width: 0px !important;
    }
  }

  // Transitions

  .fadeInUpBig {
    @include fadeInUpBig(
            $duration: $animation-duration,
            $delay: $animation-duration,
            $function: 'ease'
    );
  }

  .fadeIn {
    @include fadeIn(
            $duration: $animation-duration,
            $delay: $animation-duration,
            $function: 'ease'
    );
  }

  .fadeOut {
    @include fadeOut(
            $duration: $animation-duration,
            $function: 'ease'
    );
  }

}

// My ticket component
#owned-tickets {

  @include media-breakpoint-down(sm) {
    padding: 15px;
  }

  @include media-breakpoint-up(md) {
    padding: 0px;
  }
}
