
.welcome-page {
  width: 100%;
  min-height: 100%;

  .main-logo {
    width: 26%;
    min-width: 280px;
    margin-bottom: 35px;
  }

  .title {
    font-weight: bold;
    margin-top: -15px;
    text-align: center;
    color: $color-orange;
    margin-bottom: 10px !important;

  }

  .subtitle {
    font-weight: 400;
    margin-top: 10px;
    color: $color-dark-gray !important;
  }

  .catchline {
    text-align: left;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 43px;
    font-weight: bold;
    height: auto;
    margin-left: 14px;
  }

  .no-space .row {
    position: absolute;
  }

  // Transitions
  $animation-duration: 0.3s;

  .fadeIn {
    @include fadeIn(
            $duration: $animation-duration
    );
  }
  .fadeOut {
    @include fadeOut(
            $duration: $animation-duration
    );
  }

  .section-header {
    min-height: 100vh;
    width: 100%;

    .first-section {
      background-position: center center;
      min-height: 80vh;
      display: flex;

      .fixed-content {
        flex: 1;
        position: relative;
        width: 100%;
        padding-bottom: 20px;

      }

      .content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .center {
          margin-top: 140px;
          text-align: left !important;

          #home-search {

            .form-group label {
              color: white !important;
              font-size: 15px !important;
              font-weight: bold;
            }

            .form-text {
              display: none;
            }

            #btn-search {
              font-size: 18px;
              width: 100%;
              font-weight: bold;
              margin-top: 24px
            }

          }

          #btn-register {
            margin-top: 20px;
            min-width: 220px;
          }
        }

      }
    }

    .navbar {
      padding: 20px;
      padding-left: 35px;
      padding-right: 35px;
      position: fixed;
      width: 100%;
      z-index: 1000;
      background-color: transparent;
      transition: background-color 0.2s;

      .logo-black {
        display: none;
      }
      .logo-white {
        display: inline-block;
      }

      @include media-breakpoint-down(xs) {
        .logo-black, .logo-white {
          display: none !important;
        }
      }

      &:not(.pos-top) {
        background-color: white;
        color: black;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

        .logo-black {
          display: inline-block;
        }
        .logo-white {
          display: none;
        }

        .nav-item {

          .user-first-name {

            p {
              color: $color-dark-gray;
            }
            &:hover {
              p {
                color: $color-orange;
              }
            }
          }

          .fa {
            color: $color-orange;

            &:hover {
              color: $color-dark-gray !important;
            }
          }

          a {
            color: #82848a;

            &:hover {
              color: $color-orange;

            }

            &.btn {
              margin-top: 4px;
            }

            &.btn-ptb {
              color: white;
              &:hover {
                color: $color-gray;
              }
            }

            &.btn-ptb-white {
              color: $color-orange;
              border: solid 1px $color-orange;
            }

            &.btn-ptb-border {
              color: #82848a;
              border-color: #82848a;
              padding-top: 5px;
              padding-bottom: 5px;
              padding-left: 25px;
              padding-right: 25px;
              margin-top: 4px;
            }
          }
        }

      }
    }

        .nav-item.nav-logged-part {
          .user-first-name {

            p {
              color: white;
            }
            &:hover {
              p {
                color: $color-orange;
              }
            }
          }
        }

        .sandwich-menu, .nav-notifications {
          .fa {
            color: white;
            &:hover {
              color: $color-dark-gray !important;
            }
          }
        }
      }
    }

    .navbar-brand {
      img {
        width: 170px;

        &.icon {
          width: inherit;
          height: 50px;
        }
      }
    }

    .nav-item {
      margin-left: 10px;
    }

    .nav-link {
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;

      &.btn-ptb {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 4px;

      }

      &.btn-ptb-white {
        color: $color-orange;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 4px;
      }

      &.btn-ptb-border {
        color: $white;
        border-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 4px;
      }

      &.nav-help {

        margin-left: -12px;
      }

      .fa {
        font-size: 22px;
        margin-left: 20px;
      }

      &.flag {
        padding-top: 3px;
      }

      &.register {
        margin-left: -1px;
      }
    }

    .flag-icon {
      border-radius: 24px;
      width: 24px;
      height: 24px;
      background-size: cover;
      background-position: center center;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    h1 {
      font-weight: 600;
      font-size: 58px;
    }

    .action-buttons {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      .btn {
        min-width: containpx;
        text-transform: uppercase;
        margin: 0px 10px;
        font-weight: 600;
      }
    }

    #scroll-to-search {
      &:hover {
        cursor: pointer;
      }
    }


  .section-favorites {
    background-color: $color-greybg;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    .cards-horizontal-list {
      margin-top: 30px;
      margin-bottom: 30px;
      position: relative;

      .scroll-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: rgba(0,0,0,0.2);
        font-size: 35px;
        width: 52px;
        text-align: center;
        cursor: pointer;

        z-index: 100;
        color: rgba(255,255,255,0.8);


        &:hover {
          color: white;
          background-color: rgba(0,0,0,0.6);
        }

        &#scroll-right {
          right: 20px;
        }

        &#scroll-left {
          left: 20px;
        }
      }

      .cards {
        overflow: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }


      .card-trip {
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        width: 350px;
        margin-left: 15px;
        margin-right: 15px;
        display: block;

        .arrow::after {
          color: $color-sub-title;
          content: "→";
        }

        .card-body {
          padding: 15px;

          .card-title {
            text-align: center;
            margin: 0px;
            padding: 0px;
          }
        }
      }
    }
  }

  .section-advantages {
    background-color: white;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    .svg-icon {
      margin-top: 30px;
      width: 120px;
      margin: 0px auto;
      display: block;
    }
    .advantage-title {
      text-align: center;
      color: $color-orange;
      margin-top: 15PX;
      font-weight: bold;
      font-size: 23px;
    }

    .advantage-text {

      @include media-breakpoint-down(md) {
        width: 200px;
      }

      text-align: center;
      display: block;
      margin: 0px auto;
      color: $color-dark-gray;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .section-feedback {
    background-color: $color-greybg;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section-howitworks {

    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    .howitworks-title {
      text-align: center;
      color: $color-orange;
      margin-top: 15PX;
      font-weight: bold;
      font-size: 23px;
    }

    .howitworks-text {

      @include media-breakpoint-down(md) {
        width: 200px;
      }

      text-align: center;
      display: block;
      margin: 0px auto;
      color: $color-dark-gray;
      font-size: 14px;
      font-weight: 600;
    }

    .svg-icon {
      width: 120px;
      margin: 0px auto;
      display: block;
    }

    .selector {
      margin-top: 35px;
      margin-bottom: 30px;
      text-align: center;
    }

    .btn {
      min-width: 160px;
    }

    #btn-buyer {
      margin-right: 15px;
      height: 45px;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      color: #50d5e3;
      background-color: white;
      border: none;
      border-radius: 8px;
      box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
      padding-left: 20px;
      padding-right: 20px;

      &:hover, &.selected {
        background-color: #50d5e3;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
        color: white;
      }
    }

    #btn-seller {
      height: 45px;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      color: $color-orange;
      background-color: white;
      border: none;
      border-radius: 8px;
      box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
      padding-left: 20px;
      padding-right: 20px;

      &:hover, &.selected {
        background-color: $color-orange;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
        color: white;
      }
    }

    .btn-howitworks {
      text-transform: uppercase;
      margin: 0px 10px;
      font-weight: 600;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;
    }

  }

  .section-FAQ {
    background-color: $color-greybg;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 1px;

    .button {
      margin-top: 20px;
      margin-bottom: 30px;
      text-align: center;
    }

    #btn-seemore {
      text-align: center;
      height: 45px;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      color: $color-orange;
      background-color: white;
      border: none;
      border-radius: 8px;
      box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
      padding-left: 20px;
      padding-right: 20px;

      &:hover {
        background-color: $color-orange;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
        color: white;
      }
    }
    .FAQ-title {
      padding-bottom: 20px;
    }

    .questions {
      list-style-type: none;
      display: inline-block;
      background-color: white;
      color: $color-dark-gray;
      font-weight: 400;
      width: 90%;
      padding-left: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 11px;
      text-align: left;
      margin-bottom: 0px;

    }
    .question {
      font-weight: bold;
    }
    .read-more-state {
      display: none;
    }

    .answer {
      opacity: 0;
      max-height: 0;
      font-size: 0;
      transition: .25s ease;
    }
    .read-more-wrap {
      padding-left: 0px;
      text-align: center;

      cursor: pointer;
    }
    .read-more-state:checked ~ .read-more-wrap .answer {
      opacity: 1;
      font-size: inherit;
      max-height: 999em;
    }

    .read-more-state ~ .read-more-trigger:before {
      content: 'Show more';
    }

    .read-more-state:checked ~ .read-more-trigger:before {
      content: 'Show less';
    }

  }
