
.welcome-page {
  width: 100%;
  min-height: 100%;

  .main-logo {
    width: 50%;
    min-width: 280px;
  }

  .section-header {
    min-height: 100vh;
    width: 100%;

    .first-section{
      background-position: center center;
      background-size: cover;
      background-color: #4A4A4A;
      background-blend-mode: multiply;
      min-height: 100vh;
      display: flex;

      .fixed-content{
        top: 0;
        bottom: 0;
        flex: 1;
        position: relative;
        width: 100%;
        padding-bottom: 20px;


      }

      .content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .center{
          margin-top: -60px;
        }

      }
    }

    .navbar {
      padding: 20px;
      padding-left: 35px;
      padding-right: 35px;
    }

    .navbar-brand {
      img {
        width: 160px;
      }
    }

    .nav-item {
      margin-left: 10px;

    }

    .nav-link {
      text-transform: uppercase;
      color: white;
      font-weight: 400;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 18px;

      &.btn-ptb {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 4px;
      }

      .fa {
        font-size: 22px;
      }

      &.flag {
        padding-top: 3px;
      }
    }



    .flag-icon {
      border-radius: 24px;
      width: 24px;
      height: 24px;
      background-size: cover;
      background-position: center center;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    h1 {
      font-weight: 600;
      letter-spacing: 4px;
      font-size: 58px;
    }

    .action-buttons {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      .btn {
        min-width: 150px;
        text-transform: uppercase;
        margin: 0px 10px;
        font-weight: 600;
      }
    }

    #scroll-to-search {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .section-search {
    background-color: white;
    width: 100%;

    .card-buy-sell-welcome {
      border:none;
    }

    .buttons-search {
      display: flex;
      justify-content: center;

      button {
        width: 150px;
        margin: 0px 20px;
      }
    }

    .btn-action-submit{
      min-width: 150px;
    }

    .no-space .row{
      position: absolute;
    }

    // Transitions
    $animation-duration: 0.3s;

    .fadeIn {
      @include fadeIn(
              $duration: $animation-duration
      );
    }
    .fadeOut {
      @include fadeOut(
              $duration: $animation-duration
      );
    }
  }

  .section-advantages {
    background-color: white;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    .svg-icon {
      width: 150px;
      margin: 0px auto;
      display: block;
    }

    .advantage-title {
      text-align: center;
      color: $color-orange;
      margin-top: 15PX;

      @extend .din;
    }

    .advantage-text {

      @include media-breakpoint-down(md){
        width: 200px;
      }

      text-align: center;
      display: block;
      margin: 0px auto;
      color: black;
      font-size: 18px;
    }
  }

}

