/node_modules
/packages
/public/storage
/public/hot
/public/css
/public/js
/public/img
/public/mix-manifest.json
/public/sitemap.xml
/resources/assets/js/route.js
/storage/*.key
/storage/emails
/storage/ids
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/_ide_helper.php
/_ide_helper_models.php
/phpunit.xml
/tests/Browser
/report/
npm-debug.log
*.dump
*.dump.zip
package-lock.json
composer.lock