
.crud-table {
  position: relative;

  .crud-search {
    top: -7px;
    position: relative;
    margin-right: 490px;
  }

  .no-crud-search{
    height: 30px;
  }

  .top-pagination {
    .pagination {
      margin-top: -37px;
    }
  }

  .bottom-pagination {
    margin-right: -15px;
  }

  .pagination {
    font-size: 12px;
    float: right !important;

    li > a, li > span {
      padding: 5px 14px 4px;
    }

    li > a, .pagination > li > span {
      color: $color-purple;
    }

    li.active span {
      background-color: $color-purple;
      border-color: $color-purple;
    }

  }

  .table-full-width {
    margin: 0px -20px;
  }

  .table {
    thead th {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 300;
    }

    tbody td {
      padding: 0.5rem;
      vertical-align: inherit;
    }
  }

  .card {
    .card-header {
      border-bottom: 0px;
      background-color: transparent;
    }
  }
}

.crud-actions {
  position: absolute;
  top: 10px;
  right: 15px;
  a {
    margin-left: 10px;
  }
}

.null{

}