
// -- Variables --

// Typography
$font-keep-calm: "KeepCalm", sans-serif;
$font-assistant: "Assistant", sans-serif;
$font-family-sans-serif:  $font-assistant;

// Colors
$color-blue:            #1DC7EA;
$color-purple:          #9368E9;
$color-pink:            #E100FF;
$color-red:             #FB404B;
$color-green:           #87CB16;
$color-orange:          #FFA534;
$color-dark-blue:       #1F77D0;
$color-gray:            #5e5e5e;
$color-light-gray:      #F7F7F8;
$color-border:          rgba(0, 0, 0, 0.15);
$color-black:           #000000;
$color-white:           white;

$theme-colors: (
        primary: $color-purple,
        secondary: $color-dark-blue,
        success: $color-green,
        info: $color-blue,
        warning: $color-orange,
        danger: $color-red,
        light: $color-border,
        dark: $color-gray
);



