
// -- Variables --

// Typography
$font-keep-calm: "KeepCalm", sans-serif;
$font-assistant: "Assistant", sans-serif;
$font-family-sans-serif:  $font-assistant;

// Colors
$color-blue:            #50D5E3;
$color-neon:            #50E3C2;
$color-purple:          #9368E9;
$color-pink:            #E100FF;
$color-red:             #FB404B;
$color-green:           #87CB16;
$color-orange:          #F5A623;
$color-dark-blue:       #1F77D0;
$color-facebook:        #3B5998;

$color-gray:            #5e5e5e;
$color-light-gray:      #F7F7F8;
$color-border:          rgba(0, 0, 0, 0.15);
$color-black:           #000000;
$color-white:           white;

$theme-colors: (
        primary: $color-purple,
        pink: $color-pink,
        secondary: $color-dark-blue,
        success: $color-green,
        info: $color-blue,
        warning: $color-orange,
        danger: $color-red,
        light: $color-border,
        dark: $color-gray,
        facebook: $color-facebook,
        light-gray: $color-light-gray,
        neo: $color-neon
);

// Alerts
$alert-border-width: 0px;

// Cards



