
// -- Variables --

// Typography
$font-keep-calm: "KeepCalm", sans-serif;
$font-assistant: "Assistant", sans-serif;
$font-family-sans-serif:  $font-assistant;
$font-size-base:          16px !default;


//$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

$brand-primary:         #1d7aa2 !default;
$brand-success:         #6dc1b3 !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #ffe15b !default;
$brand-danger:          #f45e58 !default;
$brand-goudron:         #50514F !default;

$black: #000000;

