//////////////////////////////////
//////    General
//////////////////////////////////

html, body {
  height: 100%;
  font-weight: 200;
}

#app {
  min-height: 100%;
  display: flex;
}

////// Mixins //////

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

////// Validation Errors //////
.invalid-feedback::first-letter {
  text-transform: capitalize;
}

////// Colors //////
.purple-gradient {
  background: $color-purple; /* fallback for old browsers */
  background: -webkit-linear-gradient(left top, $color-purple, $color-pink); /* Chrome 10-25, Safari 5.1-6 */
  background: -o-linear-gradient(bottom right, $color-purple, $color-pink); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $color-purple, $color-pink); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $color-purple, $color-pink); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &.reverse {
    background: $color-pink; /* fallback for old browsers */
    background: -webkit-linear-gradient(left top, $color-pink, $color-purple); /* Chrome 10-25, Safari 5.1-6 */
    background: -o-linear-gradient(bottom right, $color-pink, $color-purple); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $color-pink, $color-purple); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $color-pink, $color-purple); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
}

@mixin purple-gradient( $opacity) {
  background: -moz-linear-gradient(top, rgba($color-pink, $opacity) 0%, rgba($color-purple, $opacity) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba($color-pink, $opacity) 0%, rgba($color-purple, $opacity) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba($color-pink, $opacity) 0%, rgba($color-purple, $opacity) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie-hex-str(rgba($color-pink, $opacity))}', endColorstr='#{ie-hex-str(rgba($color-purple, $opacity))}',GradientType=0 ); /* IE6-9 */
}

@mixin purple-gradient-reverse( $opacity) {
  background: -moz-linear-gradient(top, rgba($color-purple, $opacity) 0%, rgba($color-pink, $opacity) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba($color-purple, $opacity) 0%, rgba($color-pink, $opacity) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba($color-purple, $opacity) 0%, rgba($color-pink, $opacity) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie-hex-str(rgba($color-purple, $opacity))}', endColorstr='#{ie-hex-str(rgba($color-pink, $opacity))}',GradientType=0 ); /* IE6-9 */
}

.blue-gradient {
  background: $color-blue; /* fallback for old browsers */
  background: -webkit-linear-gradient(left top, $color-blue, $color-neon); /* Chrome 10-25, Safari 5.1-6 */
  background: -o-linear-gradient(bottom right, $color-blue, $color-neon); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $color-blue, $color-neon); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $color-blue, $color-neon); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn {
  cursor: pointer;
}

////// Buttons /////
.btn-white {
  background-color: white;
  color: $color-purple;
  cursor: pointer;

  &:hover {
    background-color: rgba(256,256,256,0.7);
  }
}

.btn-lastar {
  @extend .purple-gradient;
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.btn-lastar-blue {
  @extend .blue-gradient;
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.btn-outline-white {
  background-color: transparent;
  color: white;
  border: 1px solid white !important;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: $color-purple;
    border: 0px;
  }
}

.btn-outline-purple {
  background-color: transparent;
  color: $color-purple;
  border: 1px solid $color-purple !important;
  cursor: pointer;

  &:hover {
    @extend .purple-gradient;
    color: white;
    border: 0px;
  }
}

.btn-facebook {
  .fa-facebook {
    margin-right: -10px;
    margin-top: 2px;
  }
}

.btn-warning {
  color: white;
}

// Cards

.card {
  .card-header-lastar {
    @extend .purple-gradient;
    color: white;
    text-transform: uppercase;
  }

  .card-body {
    padding: 30px;
  }
}


// All buttons in button rack are aligned and take all width
.btn-rack {
  display: flex;
  align-items: center;
  .btn {
    flex: 1;
    margin-right: 15px;
    margin-left: 15px;
  }

  .btn:first-child{
    margin-left: 0px;
  }

  .btn:last-child{
    margin-right: 0px;
  }
}

// Dashboard
#dashboard {
  width: 100%;
  margin: 0px;

  #main-content {
    overflow: hidden;
  }

  #side-bar {
    padding: 0px;
    @include media-breakpoint-down(sm) {
      width: 60px;
    }
    font-size: 18px;

    .logo {
      padding: 20px;

      img {
        width:140px;
        display: block;
      }
    }

    .profile {
      padding: 20px;
      @include media-breakpoint-down(sm) {
        padding: 0px;
      }

      .label-verified {
        .fa-circle {
          font-size: 26px;
        }
        .fa-check {
          font-size: 16px;
        }
      }

      img {
        box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
        width: 120px;
        display: block;

        @include media-breakpoint-down(xs) {
          width: 30px;
          margin-left: 5px;
          margin-bottom: 15px;
        }
      }
    }

    .nav {
        padding: 0px;

      li {
        position: relative;
        width: 100%;
        border-right: 4px solid transparent;
        border-top: 1px solid rgba(0,0,0,0.05);

        -webkit-transition: background-color .15s ease-in;
        transition: background-color .15s ease-in;

        a {
          padding: 10px 20px;
          padding-right: 0px;
          color: white;
          display: block;
          position: relative;

          .fa {
            margin-left: 26px;
            margin-right: 10px;
            @include media-breakpoint-down(xs) {
              margin-left: 0px;
              margin-right: 0px;
              font-size: 20px;
            }
          }

          .label {
            text-transform: uppercase;
            font-size: 12px;
          }
        }

        .badge-pill {
          background-color: rgba(255,255,255,0.2);
          position: absolute;
          top: 12px;
          left: 10px;

          @include media-breakpoint-down(xs) {
            font-size:8px;
            top: 7px;
            left: 32px;
            background-color: $color-blue;
          }

        }

        &.active {
          background-color: rgba(0,0,0,0.05);
          border-left: 4px solid $color-blue;
        }

        &:not(.active){
          border-bottom: 1px solid transparent;
          padding-left: 4px;

          &:hover{
            padding-left: 4px;
            background-color: rgba(0,0,0,0.1);
            //border-left: 4px solid $color-blue;
            border-bottom: 1px solid rgba(0,0,0,0.05);
          }
        }

      }
    }
  }

  nav {
    margin-left: -15px;
    margin-right: -15px;
    background-color: white;
    border-bottom: 1px solid $color-border;
  }

  .navbar {
    z-index: 1;

    .nav-link {
      color: $color-neon;
      font-size: 20px;
      padding: 5px 10px;

      &:hover {
        color: darken($color-neon, 15%);
      }
    }

    .flag-icon {
      border-radius: 18px;
      width: 18px;
      height: 18px;
      background-size: cover;
      background-position: center center;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }
  }
}