//////////////////////////////////
//////    General
//////////////////////////////////

html, body {
  height: 100%;
  font-weight: 200;
}

#app {
  height: 100%;
  min-height: 100%;
}

////// DASHBOARD //////

#dashboard {
  margin-top: -80px;
  padding-top: 100px;

  width: 100%;
  min-height: 100%;

  background-image: url("/../img/home/bg-dashboard.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

}

////// HELPERS /////

.no-pad {
  padding: 0px;
}

.no-marg {
  margin: 0px;
}

////// NAV //////

#nav {

  background-color: transparent;
  border: none;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;

  .navbar-collapse {
    border: none;
    text-align: center;
  }

  .nav-link, .navbar-brand, .navbar-toggler {
    color: white;
    transition: 0.2s;
  }

  .nav-link:hover {
    color: $brand-success;
  }

  .icon-bar {
    background-color: white;
    &:hover {
      background-color: $brand-success;
    }
  }

  .navbar-toggle:hover {
    background-color: transparent;
    border-color: $brand-primary;

    .icon-bar {
      background-color: $brand-primary;
    }
  }

  .navbar-toggle[aria-expanded="true"] {
    border-color: $brand-primary;
    background-color: $white;

    .icon-bar {
      background-color: $brand-primary;
    }

    &:hover {
      border-color: $brand-success;

      .icon-bar {
        background-color: $brand-success;
      }
    }
  }

  .navbar-brand:hover {
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }

  .navbar-brand {
    font-family: $font-keep-calm;
    &.mobile {
      color: $brand-primary;
    }
  }

  #collapse-nav.in, #collapse-nav.collapsing {
    background-color: white;

    ul.nav li a {
      color: $brand-primary;

      &:hover{
        color: $brand-success;
      }
    }
  }

}

.flag {
  width: 24px;
}

/////////  BUTTONS //////////

.btn-lastar-outline {
  background-color: transparent;
  padding: 10px 20px;
  border: 1px white solid;
  color: white;
  text-transform: uppercase;

  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  &:hover, &:active, &:focus {
    background-color: $brand-success;
    border: 1px solid $brand-success;
    color: white;
  }
}

///////// PANELS /////////

.panel {
  border-radius: 4px;
}

.panel-heading, .panel-default > .panel-heading {
  border-radius: 4px 4px 0px 0px;
  background-color: $brand-iceberg;
}

.panel-default {
  border: none;
}

///////// FORMS /////////

.form-control {
  background-color: $brand-iceberg;

  &:focus {
    background-color: white;
    border-color: $brand-info;
    box-shadow: none;
  }

  -webkit-box-shadow: none;
  box-shadow: none;

}

.has-error {

  .form-control, .help-block {
    border-color: $brand-danger;
    color: $brand-danger;
    &:focus {
      box-shadow: none;
      border-color: $brand-danger;
    }
  }

  .control-label {
    color: $brand-danger;
  }

}


