//////////////////////////////////
//////    Login
//////////////////////////////////


#section_login {
  margin-top: -80px;

  width: 100%;
  min-height: 100%;

  background-image: url("/../img/home/bg-register.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  .content {
    padding-top: 100px;
  }

  .login-headline {
    margin-top:15px;
    color: $brand-primary;
  }

  .control-label{
    color: $brand-goudron;
  }

  .help-label {
    font-size: 12px;
    font-weight: 200;
  }

}